@model IEnumerable<MVC5Homework.Models.客戶資料>
@{
    ViewBag.Title = "Index";
}

<h2>客戶資料管理</h2>
@if (TempData["ErrMsg"] != null)
{
    <script>
        alert('@TempData["ErrMsg"]');
    </script>
}
@using (Html.BeginForm("Index", "客戶資料", FormMethod.Get, new { name = "form1" }))
{

    <table>
        <tr>
            <td style="vertical-align:middle">
                @Html.ActionLink("Create New", "Create") |
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            @Html.Editor("類別Id", "CustomerClass")
                        </td>
                        <td>
                            @Html.TextBox("keyword", null, htmlAttributes: new { @class = "form-control" })
                        </td>
                        <td>
                            <input type="submit" value="搜尋" class="btn btn-default" />
                        </td>
                        <td>
                            | <input type="submit" value="匯出Excxel" class="btn btn-default" formaction="@Url.Action("ExportExcel") " />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("客戶名稱", "Index",  null, new { @onclick="return BindSort(this);"})
            </th>
            <th>
                @Html.ActionLink("類別", "Index", null, new { @onclick = "return BindSort(this);" })
            </th>
            <th>
                @Html.ActionLink("統一編號", "Index", null, new { @onclick = "return BindSort(this);" })
            </th>
            <th>
                @Html.ActionLink("電話", "Index", null, new { @onclick = "return BindSort(this);" })
            </th>
            <th>
                @Html.ActionLink("傳真", "Index", null, new { @onclick = "return BindSort(this);" })
            </th>
            <th>
                @Html.ActionLink("地址", "Index", null, new { @onclick = "return BindSort(this);" })
            </th>
            <th>
                @Html.ActionLink("Email", "Index", null, new { @onclick = "return BindSort(this);" })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶分類.類別)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    @Html.Hidden("page")
    @Html.Hidden("sort")

   @Html.PagedListPager(Model as IPagedList, p => Url.Action("Index", new { page = p }))
}



@section scripts {
    <script>
        $(function () {
            $('.pagination a').on('click', function () {
                document.form1.page.value = $(this).text();
                document.form1.submit();
                return false;
            });
        });

        function BindSort(title) {
            if(title.innerText == "@ViewBag.sort")
                $("#sort").val(title.innerText + " desc");
            else
                $("#sort").val(title.innerText);

            document.form1.submit();

            return false;

        }
    </script>
 }
 
